:root {
    /* These variables are decided in script.js */
    --grid-div-height: 0;
    --grid-div-width: 0;
    --container-grid-size: 0;
    --grid-div-border: hsl(0,0%,0%,0.164) 1px solid;
    --random-background-color: hsl(75,75%,50%);
    --random-frontground-color: hsl(225,75% 50%);


    --gray-color: hsl(220, 13%, 91%);
    --blue-border-color: hsl(216, 92%, 58%);
    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serrif";
    
}
header {
    height: 6.25rem;
    width: 100%;
    background-color: hsl(351.69deg 12.9% 24.54% / 92%);
    border: 1px solid black;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button:hover {
    cursor: pointer;
}
/* Color Selection Section */
.color-selectors {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
}
.color-selectors button, header button {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 100%;
    border: 3px solid var(--blue-border-color)
}

#red {
    background-color: hsl(0, 80%, 50%);
}
#blue {
    background-color: hsl(228, 80%, 50%);
}
#green {
    background-color: hsl(134, 80%, 50%);
}
#purple {
    background-color: hsl(273, 80%, 50%);
}
#yellow {
    background-color: hsl(64, 80%, 50%);
}
#black {
    background-color: hsl(0,0%,0%);
}
#random {
    background-color: var(--random-background-color);
    color: var(--random-frontground-color);
    font-weight: bolder;
}
#darken-toggle {
    background: linear-gradient(135deg, black,white);
    font-weight: bold;
    border-radius: 15%;
    margin-right: 3rem;
}
.color-selectors .activated-border, header .activated-border {
    border: 3px solid hsl(116,100%,71%);
}
/* Button Section */
#btn-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
#btn-container button {
    border: hsl(184, 67%, 64%) 5px solid;
    background-color: hsl(252, 4%, 78%);
    border-radius: 15px;
    height: 4.69rem;
    width: 6.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: hsl(215,28%,17%);
    color: white;
}
#reset {
    margin-right: 2rem;
}
/* The resize box */
.resize-box {
    position: fixed;
    z-index: 2;
    left: 1000%;
    top: 9.75%;
    height: 18.75rem;
    width: 18.75rem;
    background-color: hsl(215,28%,17%);
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}
.resize-box.open {
    left: 70%;
}
.resize-box button, .resize-box input, .resize-box label {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin: 0.3rem;
    color: white;
    
}
#resize {
    border: hsl(184, 67%, 64%) 5px solid;
    background-color:hsl(252, 4%, 78%);
    border-radius: 25px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.resize-box input {
    background-color: rgb(198, 197, 202);
    border-radius: 25px;
}
.cover {
    position: fixed;
    z-index: 1;
    top: 6.25rem;
    width: 100%;
    height: 100%;
    left: 1000%;
    background-color: hsla(1, 0%, 0%, 30%);
}
.cover.open {
    left: 0%;
}
/* The Body */
body {
    background-color: var(--gray-color);
}
main {
    position: relative;
    top: 6.25rem;
}
#parent {
    display: flex;
    justify-content: center;
    
    
}
#container {
    height: var(--container-grid-size);
    width: var(--container-grid-size);
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    
}
.grid-div {
    height: var(--grid-div-height);
    width: var(--grid-div-width);
    border: var(--grid-div-border);
}
/* footer */
footer {
    width: 100%;
    height: 4.375rem;
    background-color: hsl(351.69deg 12.9% 24.54% / 92%);
}